@font-face {
    font-family: punkboy ;
    src: url(../fonts/punkboy_tbs.ttf);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat:space
}
  
.container{
    height: 45%;
    width: 75%;
    background-color: rgba(51, 57, 51, 0.9);
    border: solid 3px black;
    

    
}
.reproductor{
    margin: 5%;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sidebar{
    height: 45%;
    width: 75%;
    background-color: rgba(51, 57, 51, 0.9);
    display: flex;
    justify-content: space-evenly;
    border: solid 3px black;
}

a:hover{
    color:red;
}
.video,.musica{
    width: 100%;
    color: aliceblue;
    background-color: rgba(51, 57, 51, 0.9);
    text-align: center;
}
.footer{
    width: 250px;
    height: 300px;
    background-image: url(../img/eskorbuto.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.estoy{
    width: 100%;
    color: aliceblue;
    background-color: rgb(14, 18, 14);
    text-align: center;
  
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}
h2{
    font-size:28px;
}
h1{
    color:red;
    font-size:50px;
    text-shadow: 0 3px 0 rgb(0, 0, 0);
    
}
a{
    text-decoration:none;
    color: aliceblue;
    width: 100%;
    height: 100%;
}
#videoReproductor{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
}
.button{
    width: 100%;
    height: 100%;
}

.videosDentro{
    max-width: 60%;
    max-height: 60%;
}
.videos{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap:10px;
    object-fit: contain;
}
.videosDentro:hover{
    max-width: 100%;
    z-index: 1;
}
.hazteGrande{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: aliceblue;

    font-family: punkboy,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.75rem;
}